/* This is header line */
.header-box {
    max-width: 1520px;
    width: 100%;
    height: 81px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.nav-ul {
    max-width: 503px;
    width: 100%;
    height: 19px;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 94px;
}
.logo {
    margin-left: 95px;
    padding-top: 25px;
}
.nav-li {
    font-size: 14px;
    margin-left: 39px;
    font-family: 'Raleway-SemiBold';
}
/* This is bg section */
.container-bg {
    margin: 0 auto;
}
.bg-img {
    background-image: url(../images/bgimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1520px;
    width: 100%;
    height: 650px;
    position: relative;
}
.bgimg-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.price {
    text-align: center;
    font-size: 21px;
    background-color: #FFFFFF;
    max-width: 200px;
    width: 100%;
    height: 92px;
    /* margin-left: 100px; */
    border-radius: 100%;
    padding-top: 35px;
    font-family: 'Raleway-Bold';
    margin:0 auto;
}
.world {
    text-align: center;
    font-size: 78px;
    color: #FFFFFF;
    margin-top: 6px;
    font-family: 'Stint Ultra Condensed-Regular';
}
.travel {
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 36px;
    font-family: 'Raleway-SemiBold';
}
/* This is second section */
.section2 {
    margin-top: 20px;
}
     /* this is plane div */
.div-wrapper {
    max-width: 1520px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.picture-div {
    max-width: 300px;
    width: 100%;
    height: 327px;
    margin-left: 150px;
    margin-top: 50px;
}
.plane-h {
    font-size: 18px;
    margin-top: 22px;
    font-family: 'Raleway-SemiBold';
}
.plane-p {
    font-size: 16px;
    margin-top: 8px;
    font-family: 'Raleway-Medium';
}
     /* This is hotel div */
.hotel-div {
    max-width: 300px;
    width: 100%;
    height: 327px;
}
     /* This is div family */
     /* This is div cruise */
     /* This is fire camp div */
/* This is section sale */
.wrapper-sale {
    margin-top: 20px;
    position: relative;
}
.container-sale {
    margin: 0 auto;
}
.sale {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1520px;
    width: 100%;
    height: 350px;
}
.sale-abs {
    max-width: 470px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.sale-p {
    font-size: 31px;
    margin-bottom: 21px;
    font-family: 'Raleway-SemiBold';
}
.div-p {
    font-size: 18px;
    margin-bottom: 60px;
}
.text-line {
    font-family: 'Raleway-Medium';
}
.frm-sub {
    font-family: 'Raleway-SemiBold';
}
/* This is video section */
.video-wrapper {
    margin-top: 20px;
}
.container-video {
    margin: 0 auto;
}
.video-div {
    max-width: 1520px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.video {
    margin-left: 60px;
    margin-top: 20px;
}
.video-h {
    font-size: 16px;
    font-family: 'Raleway-SemiBold';
}
.video-p {
    font-size: 26px;
    font-family: 'Raleway-SemiBold';
}
.video-text {
    text-align: center;
}
/* This is map section */
.map {
    max-width: 1520px;
    width: 100%;
    margin-top: 50px;
    margin: 0 auto;
}
/* This is form section */
.form-div {
    background-color: aquamarine;
    height: 300px;
    margin: 0 auto;
}
.div-form {
    display: flex;
    justify-content: space-evenly;
}
.form-h {
    text-align: center;
    font-size: 38px;
    font-family: 'Stint Ultra Condensed-Regular';
}
.form-gender-age {
    display: inline-block;
    margin-top: 20px;
}
.form-tour {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.form-name {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
#lname {
    margin-top: 10px;
}
.button-sub {
    text-align: center;
}
#button {
    border-radius: 50%;
    background-color: yellow;
    width: 200px;
    height: 30px;
    font-size: 20px;
}
/* This is footer */
     /* This is first div */
.div-foot {
    max-width: 1520px;
    width: 100%;
    height: 340px;
    background-color: black;
    display: flex;
    margin: 0 auto;
}
.frst-div {
    max-width: 160px;
    width: 100%;
    height: 250px;
    margin-left: 50px;
}
.frst-h {
    color: white;
    padding-top: 50px;
    font-family: 'Raleway-Bold';
}
.frst-li {
    color: white;
    margin-top: 20px;
    font-family: 'Raleway-Medium';
}
     /* This is second div */
.second-div {
    max-width: 160px;
    width: 100%;
    height: 250px;
    margin-left: 50px;
}
.second-h {
    color: white;
    padding-top: 50px;
    font-family: 'Raleway-Bold';
}
.second-li {
    color: white;
    margin-top: 20px;
    font-family: 'Raleway-Medium';
}
     /* This is theard div */
.therd-div {
    max-width: 160px;
    width: 100%;
    height: 250px;
    margin-left: 50px;
}
.theard-h {
    color: white;
    padding-top: 50px;
    font-family: 'Raleway-Bold';
}
.theard-li {
    color: white;
    margin-top: 20px;
    font-family: 'Raleway-Medium';
}
    /* this is animation */
.div-anime {
    margin-left: 300px;
    padding-top: 15px;
}
